
    @font-face {
    font-family: 'MTF Jotted Regular';
    font-style: normal;
    font-weight: normal;
    src: local('MTF Jotted Regular'), url('http://lindattien.github.io/mtf-jotted-webfont/MTF%20Jotted.woff') format('woff');
    }
