    @font-face {
    font-family: 'MTF 100 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('MTF 100 Regular'), url('http://lindattien.github.io/mtf-100-webfont/MTF100.woff') format('woff');
    }
